<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="wrapper">
    <h1>编辑</h1>
    <form method="POST" action="/edit" enctype="multipart/form-data">
      <div class="title">
        <input type="text" placeholder="标题" name="title" value="<%= title %>">
      </div>
      <div class="content">
        <textarea  id="" cols="150" rows="30" placeholder="内容" name="content"><%= content %></textarea>
      </div>
      <div>
        <input type="hidden" value="<%= id %>" name="id">
        <input type="submit" value="提交">
      </div>
    </form>
  </div>
</body>
</html>
