*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.wrapper{
  width: 80%;
  min-width: 600px;
  margin:30px auto;
}
h1{
  font-size: 36px;
  font-weight: normal;
}
.list{
  padding:10px 0;
}
.list li{
  border-bottom: 1px solid rgba(118, 118, 118, 0.13);
  padding:15px 0;
  overflow: hidden;
}
.list .edit,.list .delete{
  float: right;
  margin-left:20px;
  padding:5px 20px;
  border-radius: 4px;
  color: #5c797c;
  transition: all ease .2s;
}
.list .edit{
  border:1px solid #54c41b;
}
.list .delete{
  border:1px solid #e33;
}
.list .edit:hover{
  background-color: #54c41b;
  color: #fff;
}
.list .delete:hover{
  background-color: #e33;
  color: #fff;
}
.list .num{
  display: inline-block;
  width: 50px;
}
.list .add{
  float: none;
  margin-left: 0;
}